<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<style>

    /*.mdl-textfield{*/

    /*    position: relative;*/
    /*    font-size: 16px;*/
    /*    display: inline-block;*/
    /*    box-sizing: border-box;*/
    /*    width: 260px;*/
    /*    max-width: 100%;*/
    /*    margin: 0;*/
    /*    padding: 20px 0;*/

    /*}*/

    /*.mdl-textfield__input {*/
    /*    border: none;*/
    /*    border-bottom: 1px solid rgba(0,0,0,.12);*/
    /*    display: block;*/
    /*    font-size: 16px;*/
    /*    font-family: "Helvetica","Arial",sans-serif;*/
    /*    margin: 0;*/
    /*    padding: 4px 0;*/
    /*    width: 90%;*/
    /*    background: 0 0;*/
    /*    text-align: left;*/
    /*    color: inherit;*/
    /*}*/

</style>

<th:block th:replace="~{/layout/basic :: setMainContent(~{this::content} )}">

    <th:block th:fragment="content">

        <div class="mdl-grid portfolio-max-width portfolio-contact">
            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Register</h2>
                </div>
                <div class="mdl-card__media">
                    <img class="article-image" th:src="@{/images/contact-image2.jpg}" border="0" alt="">
                </div>
                <div class="mdl-card__supporting-text">
<!--                    <p>-->
<!--                        Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet.-->
<!--                    </p>-->
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" style="background-color: mediumslateblue">
                        Check Missing Location
                    </button>
                    <form th:action="@{/animal/register}" th:method="post" class="actionForm">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input name="missingLocation" class="mdl-textfield__input" type="text" id="MissingLocation">
                            <label class="mdl-textfield__label" for="MissingLocation">MissingLocation</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input name="missingDate" class="mdl-textfield__input" type="text" id="MissingDate">
                            <label class="mdl-textfield__label" for="MissingDate">MissingDate - ex) 2021-04-27</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input name="type" class="mdl-textfield__input" pattern="[A-Z,a-z, ]*" type="text" id="Type">
                            <label class="mdl-textfield__label" for="Type">Type</label>
                            <span class="mdl-textfield__error">Letters and spaces only</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input name="name" class="mdl-textfield__input" pattern="[A-Z,a-z, ]*" type="text" id="Name">
                            <label class="mdl-textfield__label" for="Name">Name</label>
                            <span class="mdl-textfield__error">Letters and spaces only</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input name="species" class="mdl-textfield__input" type="text" id="Species">
                            <label class="mdl-textfield__label" for="Species">Species</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input name="sex" class="mdl-textfield__input" type="text" id="Sex">
                            <label class="mdl-textfield__label" for="Sex">Sex</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input name="age" class="mdl-textfield__input" type="text" id="Age">
                            <label class="mdl-textfield__label" for="Age">Age</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input name="color" class="mdl-textfield__input" type="text" id="Color">
                            <label class="mdl-textfield__label" for="Color">Color</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input name="phoneNumber" class="mdl-textfield__input" type="text" id="PhoneNumber">
                            <label class="mdl-textfield__label" for="PhoneNumber">PhoneNumber</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input name="guardianName" class="mdl-textfield__input" type="text" id="GuardianName">
                            <label class="mdl-textfield__label" for="GuardianName">GuardianName</label>
                        </div>
                            <input name="rescueStatus" class="mdl-textfield__input" type="hidden" value="0" id="RescueStatus">
                            <input name="isCompleted" class="mdl-textfield__input" type="hidden" value="0" id="IsCompleted">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <textarea name="special" class="mdl-textfield__input" type="text" rows="5" id="Special"></textarea>
                            <label class="mdl-textfield__label" for="Special">Special</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <textarea name="situation" class="mdl-textfield__input" type="text" rows="5" id="Situation"></textarea>
                            <label class="mdl-textfield__label" for="Situation">Situation</label>
                        </div>

<!--                        <div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label" style="align-content: revert">-->
<!--                            <input class="uploadFiles mdl-textfield__input" type="file" id="uploadFiles">-->
<!--                        </div>-->
                        <div class="imgBox">

                        </div>


                        <p>
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
                                Register
                            </button>
                            <button class="listBtn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" style="background-color: #00bfa5">
                                <a class="page-link" th:href="@{/animal/list}" tabindex="-1" style="color: white; text-decoration:none;">List</a>
                            </button>
                        </p>
                    </form>
                </div>


                <script>

                    const listBtn = document.querySelector(".listBtn");
                    listBtn.addEventListener("click", function (e) {

                        e.preventDefault();
                        e.stopPropagation();

                        window.location=listBtn.querySelector("a").getAttribute("href");

                    }, false)

                </script>

            </div>
        </div>

    </th:block>
</th:block>

</html>