<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<style>

    .btnList, .imgBox{
        display: flex;
        justify-content: space-between;
    }


    /*.mdl-textfield{*/

    /*    position: relative;*/
    /*    font-size: 16px;*/
    /*    display: inline-block;*/
    /*    box-sizing: border-box;*/
    /*    width: 260px;*/
    /*    max-width: 100%;*/
    /*    margin: 0;*/
    /*    padding: 20px 0;*/

    /*}*/

    /*.mdl-textfield__input {*/
    /*    border: none;*/
    /*    border-bottom: 1px solid rgba(0,0,0,.12);*/
    /*    display: block;*/
    /*    font-size: 16px;*/
    /*    font-family: "Helvetica","Arial",sans-serif;*/
    /*    margin: 0;*/
    /*    padding: 4px 0;*/
    /*    width: 90%;*/
    /*    background: 0 0;*/
    /*    text-align: left;*/
    /*    color: inherit;*/
    /*}*/

    .animalMap {
        margin: 8px;
        max-width: 352px;
        height: 328px;
        background-color: white;
    }

</style>

<th:block th:replace="~{/layout/basic :: setMainContent(~{this::content} )}">

    <th:block th:fragment="content">

        <div class="mdl-grid portfolio-max-width portfolio-contact">
            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                <div class="mdl-card__title" style="background-color: antiquewhite; margin: 8px; margin-bottom: 0;border-radius: 5px;">
                    <h2 class="mdl-card__title-text" style="font-weight: bold;">Register</h2>
                </div>
                <div class="mdl-card__media" style="background-color: white">
                    <!--                                    Map Div                                 -->
                    <div class="animalMap"></div>
<!--                    <img class="article-image" th:src="@{/images/contact-image2.jpg}" border="0" alt="">-->
                </div>
                <div class="mdl-card__supporting-text" style="padding-top: 0;">
<!--                    <p>-->
<!--                        Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet.-->
<!--                    </p>-->
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" style="background-color: mediumslateblue; margin-bottom: 5px;">
                        Check Missing Location
                    </button>
                    <form th:action="@{/animal/register}" th:method="post" class="actionForm">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input name="missingLocation" class="mdl-textfield__input" type="text" id="MissingLocation">
                            <label class="mdl-textfield__label" for="MissingLocation">MissingLocation</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input name="missingDate" class="mdl-textfield__input" type="text" id="MissingDate">
                            <label class="mdl-textfield__label" for="MissingDate">MissingDate - ex)2021-04-27 24</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input name="type" class="mdl-textfield__input" pattern="[A-Z,a-z, ]*" type="text" id="Type">
                            <label class="mdl-textfield__label" for="Type">Type</label>
                            <span class="mdl-textfield__error">Letters and spaces only</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input name="name" class="mdl-textfield__input" pattern="[A-Z,a-z, ]*" type="text" id="Name">
                            <label class="mdl-textfield__label" for="Name">Name</label>
                            <span class="mdl-textfield__error">Letters and spaces only</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input name="species" class="mdl-textfield__input" type="text" id="Species">
                            <label class="mdl-textfield__label" for="Species">Species</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input name="sex" class="mdl-textfield__input" type="text" id="Sex">
                            <label class="mdl-textfield__label" for="Sex">Sex</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input name="age" class="mdl-textfield__input" type="text" id="Age">
                            <label class="mdl-textfield__label" for="Age">Age</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input name="color" class="mdl-textfield__input" type="text" id="Color">
                            <label class="mdl-textfield__label" for="Color">Color</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input name="phoneNumber" class="mdl-textfield__input" type="text" id="PhoneNumber">
                            <label class="mdl-textfield__label" for="PhoneNumber">PhoneNumber</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input name="guardianName" class="mdl-textfield__input" type="text" id="GuardianName">
                            <label class="mdl-textfield__label" for="GuardianName">GuardianName</label>
                        </div>
                            <input name="rescueStatus" class="mdl-textfield__input" type="hidden" value="0" id="RescueStatus">

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <textarea name="special" class="mdl-textfield__input" type="text" rows="5" id="Special"></textarea>
                            <label class="mdl-textfield__label" for="Special">Special</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <textarea name="situation" class="mdl-textfield__input" type="text" rows="5" id="Situation"></textarea>
                            <label class="mdl-textfield__label" for="Situation">Situation</label>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="align-content: revert">
<!--                            <input class="uploadFiles mdl-textfield__input" type="file" id="uploadFiles" multiple>-->
                            <input type="file" class="uploadFiles custom-file-input files" id="uploadFiles" multiple>
                            <label class="custom-file-label" data-browse="Browse"></label>
                        </div>
                    </form>
                    <div class="imgBox">
                        <ul style="width: 100%">

                        </ul>
                    </div>
                    <div class="btnList">
                        <button class="registerBtn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
                            Register
                        </button>
                        <button class="listBtn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" style="background-color: #00bfa5">
                            <a class="page-link" th:href="@{/animal/list}" tabindex="-1" style="color: white; text-decoration:none;">List</a>
                        </button>
                    </div>
                </div>

                <script type="text/javascript"
                        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=42b464dbc4f0eb1befb41f996f717a37&libraries=services,clusterer,drawing">
                </script>

                <script th:inline="javascript">

                    <!--                    RegisterScript                                 -->

                    const regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
                    const maxSize = 10485760; //10MB
                    
                    function ajax(url, obj){
                        
                        return fetch(url, obj).then(response => {

                            if(!response.ok) {
                                throw new Error(response)
                            }
                            return response.json();

                        }).catch(error => {
                            console.log("ERROR : " + error)
                            console.log(error)
                        });
                        
                        
                    }

                    //파일업로드 예외 체크
                    function checkExtension(fileName, fileSize){

                        if(fileSize >= maxSize){
                            alert("파일 사이즈 초과");
                            return false;
                        }

                        if(regex.test(fileName)){
                            alert("해당 종류의 파일은 업로드할 수 없습니다.");
                            return false;
                        }
                        return true;
                    }
                    //end function check

                    //파일 업로드
                    document.querySelector(".uploadFiles").addEventListener("change", function (e) {

                        e.stopPropagation();

                        const inputFile = this;
                        console.log(inputFile);
                        // const fileName = inputFile.value().split("\\").pop();

                        const formData = new FormData;

                        const files = inputFile.files;
                        let appended = false;

                        for (var i = 0; i < files.length; i++) {

                            if(!checkExtension(files[i].name, files[i].size) ){
                                return false;
                            }

                            console.log(files[i]);
                            formData.append("uploadFiles", files[i]);
                            appended = true;
                        }

                        //upload를 하지 않는다.
                        if (!appended) {return;}

                        //실제 업로드 부분
                        //upload ajax
                        const url = "/animalImages/uploadAjax";
                        const obj = {
                            method:'post',
                            body:formData
                        };

                        const result = ajax(url, obj);
                        result.then(json => {

                            console.log(json);
                            showResult(json);

                        })

                    }, false);
                    //end addEvent upload

                    //업로드 결과 이미지 표시
                    function showResult(uploadResultArr){

                        const uploadUL = document.querySelector(".imgBox ul");

                        let str ="";

                        uploadResultArr.forEach(obj => {

                            str += "<div class='image' data-name='" + obj.fileName + "' data-path='" + obj.folderPath + "' data-uuid='" + obj.uuid + "'";
                            str += "style='display: flex; justify-content: space-between; margin-bottom: 20px;'>";
                            str += "<img src='/animalImages/display?fileName=" + obj.thumbnailURL + "'>";
                            str += "<div><button type='button' data-file=\'" + obj.imageURL + "\' "
                            str += "class='btn-warning btn-sm''>X </button></div>";
                            str += "</div>";
                            str += "</li>";

                        });

                        uploadUL.insertAdjacentHTML("beforeend", str);

                    }
                    //end function showResult

                    //업로드 파일 제거
                    document.querySelector(".imgBox").addEventListener("click", function (e){

                        const target = e.target;

                        // if()


                    }, false);

                    //list 버튼 클릭
                    const listBtn = document.querySelector(".listBtn");
                    listBtn.addEventListener("click", function (e) {

                        e.preventDefault();
                        e.stopPropagation();

                        window.location=listBtn.querySelector("a").getAttribute("href");

                    }, false);
                    //end addEvent list

                    //register 버튼 클릭
                    const registerBtn = document.querySelector(".registerBtn");
                    registerBtn.addEventListener("click", function (e) {

                        e.preventDefault();
                        e.stopPropagation();

                        let str = "";
                        document.querySelectorAll(".image").forEach(function(obj, i){
                            const target = obj;
                            console.log(target.getAttribute('data-name').indexOf(".")+1);

                            // str += "<input type='hidden' name='imageDTOList["+i+"].animalNumber' value='"+target.getAttribute('data-animalNumber') +"'>";

                            str += "<input type='hidden' name='imageDTOList["+i+"].fileName' value='"+target.getAttribute('data-name') +"'>";

                            str += "<input type='hidden' name='imageDTOList["+i+"].type' value='"+target.getAttribute('data-name')
                                .substring(target.getAttribute('data-name').indexOf(".")+1) +"'>";

                            str += "<input type='hidden' name='imageDTOList["+i+"].uploadPath' value='"+target.getAttribute('data-path')+"'>";

                            str += "<input type='hidden' name='imageDTOList["+i+"].uuid' value='"+target.getAttribute('data-uuid')+"'>";

                        });

                        const form = document.querySelector("form");
                        form.insertAdjacentHTML("beforeend", str);
                        console.log(form);
                        form.submit();

                    }, false);
                    //end addEvent register

                    <!--                            END Register Script                                 -->

                    <!--                            Kakao Map                                 -->
                    //KakaoMap 생성
                    let mapContainer = document.querySelector('.animalMap'), // 지도를 표시할 div
                        mapOption = {
                            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                            level: 6 // 지도의 확대 레벨
                        };

                    let map = new kakao.maps.Map(mapContainer, mapOption);
                    map.setMinLevel(3);
                    
                    let missingLocation = "";
                    document.querySelector("input[name='missingLocation']").addEventListener("change", function (e) {

                        missingLocation = e.target.value;

                    }, false);

                    console.log(missingLocation)

                    //주소로 x,y 좌표 구하는 MapAPI
                    function getMapByUrl(missingLocation) {

                        return fetch("https://dapi.kakao.com/v2/local/search/keyword.json?query='" + missingLocation + "'",
                            {
                                method: 'get',
                                headers: {
                                    'Content-Type': 'application/x-www-form-urlencoded',
                                    Authorization: 'KakaoAK 5898bb0d55f55b7be28aa94cce26efb0'
                                },
                            })
                            .then(res => {

                                if (!res.ok) {
                                    console.log("=========== throws ==========")
                                    throw new Error(res);
                                }

                                return res.json();

                            }).catch(res => {
                                console.log("============ catch ===============");
                                return res;
                            })
                    }  //주소로 x,y 좌표 구하는 MapAPI END

                    //Check Missing Location 버튼 클릭 시
                    //1.MAP MARKER 만들기
                    document.querySelector(".mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent").addEventListener("click", function () {
                        makeResult(missingLocation, 0);
                    }, false)

                    //2.MAP MARKER 만들기
                    function makeResult(missingLocation, count) {

                        //console.log("============================================ Test Console =================================================================")
                        //console.log(encodeURIComponent(animalDTO.imageDTOList[0].uploadPath + animalDTO.imageDTOList[0].fileName));

                        let maxCount = 10;
                        //missingLocation로 x,y 좌표 구하기
                        let result = getMapByUrl(missingLocation);

                        return result.then(res => {

                            let val = res.documents;

                            let missingLoc = missingLocation;

                            //재검색
                            if (0 == val.length) {

                                let index = missingLoc.lastIndexOf(" ");
                                if (-1 == index) {
                                    console.log("결과 없음... 검색 완료" + missingLoc);
                                }

                                missingLoc = missingLoc.substring(0, index);
                                missingLocation = missingLoc;

                                if (count >= maxCount) {
                                    console.log("결과 없음... 검색 완료" + missingLoc);
                                    return;
                                }

                                ++count;
                                console.log("결과 없음... 재검색 시작 =>" + missingLoc);
                                makeResult(missingLocation, count)
                                return;

                            }//재검색 END

                            //재검색이 끝나면 Marker 생성
                            if (typeof (val[0]) != "undefined") {

                                console.log("Marker 생성!!")
                                let coords = new kakao.maps.LatLng(val[0].y, val[0].x);

                                let marker = new kakao.maps.Marker({
                                    map: map,
                                    position: coords,
                                });

                                //좌표로 맵 중심 이동
                                map.setCenter(coords);
                                map.setLevel(3);

                                return;

                            }//Marker 생성 종료

                        });

                    }// 결과 생성 END


                    <!--                           End Kakao Map                                 -->

                </script>

            </div>
        </div>

    </th:block>
</th:block>

</html>